<h1>Here is <strong><%= @restaurant.name %></strong></h1>
<h3> it is a <%= @restaurant.category %> restaurant </h3>
<h3>It's located at <%= @restaurant.address %> </h3>
<h3>You can reach them at <%= @restaurant.phone_number %> during opening hours</h3>
<h3>Here are all the reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end  %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
